#body{
    background: radial-gradient(darkblue,black);
}
#textfieldcontainer{
    width: 600px;
    height: 500px;
    margin: 50px auto 30px;
    border-radius: 100px;    
   background: linear-gradient(violet,black);
}
#items{
    text-align: center;
    margin: 100px auto 300px;
    padding: 10px 40px 30px;
    width: 500px;
}
input{
    font-size: 20px;
    margin-right: 7px;
    border-radius: 10px;
}
#button1{
    font-size: 20px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background-color:purple;
}